
.sign-up{
    width: min(450px, 90%);
    height: 600px;
    /* background: aqua; */
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.436); */
}

.input-container{
    width: 80%;
    height: 50px;
    /* background: red; */
}

.input-container > span{
    display: block;
    font-family: 'Inter';
}

.input-style{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    border-bottom: 0.1px solid grey;
    padding: 0 20px;
    padding-top: 5px;
    font-size: 14px;
}

.input-container > input:focus{
    border: none;
}

.submit-button{
    width: 80%;
    height: 50px;
    border: none;
    background: #0167ff;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-family: Arial;
}

.other-options{
    /* background: red; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
}

.switch-login> a{
    color: red;
    text-decoration: none;
}

